data/
mul/
realm/
*.dbg
*.dep
*.log
*.bat
*.dbg.txt
*.lst
*.ecl
config/servers.cfg
scripts/ecompile.cfg
config/vendorinventory.cfg
leftovers.txt
objtypes.txt
scripts/blockLogin.src
pkg/systems/accounts/config/uoclient.cfg



copilot.*
[Bb]in
[Oo]bj
